@charset 'UTF-8';

@font-face {
    font-family: 'globo';
    src: url(fonts/Globotipo-Web-Bold.ttf) format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;800&display=swap');

:root {    
    --cor-brava1: #36558F;
    --cor-brava2: #40376E;
    --cor-brava3: #EC9A29;    
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(204, 204, 204);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    font-family: 'globo';    
    height: 50px;
    min-width: 320px;
    max-width: 400px;
    margin: auto;
    
}

nav > a {
    text-decoration: none;    
    padding: 10px;
    font-size: 1em;
    letter-spacing: -.05em;
}

nav > a:hover {
    text-decoration: underline;
}

.irb {
    color: var(--cor-brava3);
    border-right: 1px solid rgb(211, 211, 211);    
}

.irb2 {
    color: var(--cor-brava2);
}

.irb3 {
    color: var(--cor-brava1);   
    border-right: none; 
    
}

main {
    background-color: white;
    max-height: 2000px;
    min-width: 320px;
    max-width: 400px;
    margin: auto;
}

.topo-ge {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--cor-brava1);
    color: white;
    font-family: "globo";
    font-size: 2em;
    height: 80px;
    min-width: 320px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.288);
}

.resumo {
    font-family: 'Montserrat', sans-serif;
    font-size: .4em;
    font-weight: 200;
    margin-top: -8px;
}

div.main-image {
    position: relative;
    background-image: url(images/main_carlos_web.jpg);    
    font-family: "globo";
    font-size: 2em;
    color: white;
    letter-spacing: -.05em;
    line-height: 1.2em;
    height: 320px;
    margin-top: 20px;
}

.destaque {
    position: absolute;
    background-color: var(--cor-brava3);
    width: 70px;
    height: 32px;
    font-size: .5em;    
    padding-left: 15px;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.main-image > p {   
    padding-left: 20px;
    padding-top: 20px; 
    padding-top: 60px;
    
}

.main-titulo {
    color: var(--cor-brava1);
    font-family: "globo";
    font-size: 1.25em;
    letter-spacing: -.05em;
    padding: 10px 20px 20px 20px;
}

.main-texto {
    color: rgb(61, 61, 61);
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    padding: 5px 20px 20px 20px;
    margin-top: -20px;
}

.hr {
    display: flex;
    justify-content: center;
    
}

hr {    
    width: 320px;
   margin-top: 5px;
   margin-bottom: 5px;
}

.sub-materias {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}


div.sub-image-1 {
    background-image: url(images/sub_andrade_web.jpg);
    width: 165px;
    height: 126px; 
    border-radius: 6px; 
    
}

div.sub-image-2 {
    background-image: url(images/sub_brava_2_web.jpg);
    width: 165px;
    height: 126px;
    border-radius: 6px;    
}

div.sub-image-3 {
    background-image: url(images/sub_fernando_web.jpg);
    width: 165px;
    height: 126px;
    border-radius: 6px;    
}

div.sub-image-4 {
    background-image: url(images/sub_polemica_web.jpg);
    width: 165px;
    height: 126px;
    border-radius: 6px;    
}

.sub-texto {
    padding: 10px 10px 10px 10px;
    max-width: 180px;
}

.sub {
    font-family: "globo";
    font-size: .70em;
    color: rgb(30, 30, 30);
}

.sub-chamada {
    font-family: "globo";
    font-size: .9em;
    color: var(--cor-brava1);
}

.sub-nota {
    font-family: 'Montserrat', sans-serif;
    font-size: .8em;
    font-weight: 300;
    color: rgb(30, 30, 30);
}

.patrocinadores {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    height: 100px;
    padding: 0px 10px 0px 10px;    
}


footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: var(--cor-brava1);
    height: 80px;
    margin-top: -80px;
    min-width: 320px;
    max-width: 400px;
    margin: auto;
  
}

.sub-footer {
    font-weight: 300;
    font-size: .75em;
}